/* Sets the margin and padding of the whole page to fit multiple different browsers */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets the background color of the page */
body {
    background-color: #d9dcd6;
}

/* sets the space inside the Header element in the HTML, sets the background color of the header and the text color. changes the font family. */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* sets all the h1 in the header fontsize to 48px and inline-block which lets us set the height and width if we need */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* sets the color of the b element to a specific color */
b {
    color: #d9dcd6;
}

/* sets the styling for every nav in the header. float: right makes sure the nav items are on the right of the navbar */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* styles all unordered list in all the nav elements in the header. list style type: none removes the bullets on the lis */
header nav ul {
    list-style-type: none;
}

/* styles all list items in all ul in all the nav elements which are in the header. margin is setting space between the edge of the browser and the li*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* sets all <a> elements text color to white and removes the underline text of the links */
a {
    color: #ffffff;
    text-decoration: none;
}

/* this is a class that is an attribute for the <img> element between the header and the main elements. sets the height and width of the image. */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* sets the single main element width and margin */
main {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* the figure element allows for an <img> element and another element called <figcaption> to be in one element.
<figcapture> lets the user create a caption for an image*/
main figure {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* sets max height for all <img> elements inside all <main> <figures> */
main figure img {
  max-height: 200px;
}

/* sets all h2 inside all main figure elements */
main figure h2 {
  margin-bottom: 20px;
  font-size: 36px;
}


/* float left is a class styling to the image elements in the figure elements */
.float-left {
    float: left;
    margin-right: 25px;
}

/* float right is a class styling to the image elements in the figure elements */
.float-right {
    float: right;
    margin-left: 25px;
}

/* this styles all section elements on the page. the section contains the side items */
section {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* styles all figure elements in the section elements. */
section figure {
    margin-bottom: 32px;
    color: #ffffff;
}

/* sets the margin and text alignment in all h3 elements inside all figures in the section elements */
section figure h3 {
  margin-bottom: 10px;
  text-align: center;
}

/* sets the margin and width  in img elements inside the figure elements in the section*/
section figure img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* sets the figcaption font size*/
figcaption {
  font-size: 16px;
  }

/* adds padding and font styling to the footer element */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* sets font size for all h2 inside the footer */
footer h2 {
    font-size: 20px;
}

/* sets font size for all p elements inside the footer */
footer p{
  font-size: 16px;
}